# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# 模型 & 权重
*.pth
*.pt
*.bin
*.safetensors
*.ckpt
weights/
checkpoints/

# 数据集 & 大文件
dataset/
data/
autodl-tmp/
*.zip
*.tar
*.tar.gz
*.rar

# 日志 & 系统文件
logs/
*.log
.DS_Store
.vscode/